<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" th:href="@{/css/tech-list.css}">-->
    <!--<link rel="stylesheet" th:href="@{/css/article-list-card.css}">-->
</head>
<!--<head th:replace="~{fragments/header :: header}">-->
<!--</head>-->
<body>
<div class="container">
    <div class="content-container">
        <div style="padding: 100px 0; margin: auto;">
            <img th:src="@{/img/notfound.png}">
        </div>
        <!--<p style="text-align: center;" th:text="${error.getMessage()}"></p>-->
        <!--<div th:replace="~{fragments/footer :: footer}">...</div>-->
    </div>

</div>
</body>
</html>