<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="header">
<head>
    <title>管理系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/common/admin/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/admin/main.css}">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
</head>
<body>
<div class="header">
    <nav>
        博客管理系统
    </nav>
</div>
</body>

</html>