<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="left-side">
<head>
    <link rel="stylesheet" th:href="@{/css/common/admin/left.css}">
    <link rel="stylesheet" th:href="@{/css/common/admin/main.css}">
</head>
<body>
<div class="left-container">
    <div class="left-side">
        <nav>
            <div style="padding: 10px 0;">博客管理</div>
            <div style="padding: 10px 0;">&nbsp;——新增/修改博客</div>
            <div style="padding: 10px 0;">&nbsp;——博客列表</div>
            <div style="padding: 10px 0;">&nbsp;——专栏</div>
            <div style="padding: 10px 0;">分类标签管理</div>
            <div style="padding: 10px 0;">&nbsp;——分类管理</div>
            <div style="padding: 10px 0;">&nbsp;——标签管理</div>
            <div style="padding: 10px 0;">个人信息</div>
            <div style="padding: 10px 0;">网站设置</div>
            <div style="padding: 10px 0;">&nbsp;——tab栏管理</div>
            <div style="padding: 10px 0;">&nbsp;其他管理</div>
        </nav>
    </div>
</div>
</body>
</html>