<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       data-th-fragment="footer">
<head>
    <link rel="stylesheet" th:href="@{/css/common/blog/footer.css}">
</head>
<body>
    <div class="toTop" id="toTop">
        <img th:src="@{/img/top.png}"/>
    </div>
    <div class="footer">
        <p>
            Copyright &copy 2018 - 2019 fushuangbo（wwww.shuangbofu.cn) .All Rights Reserved.
            浙ICP备17028517号-2
        </p>
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/backToTop.js}"></script>
    <script th:src="@{/js/switch.js}"></script>
</body>
</html>